

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner {
  background-size: cover;
  background-position: center;
  padding: 260px 0;
  margin: 0;
  background-image: url("images/kawhishot.jpeg")
}

.container {
  width: 1051px;
  margin: auto;
  text-align: center;
  flex-direction: row;
  align-content: center;
}

.banner > .container > h1 , p , .btn-green {
  color: white;
}

.btn-green {
  border-radius: 50px;
  width: 500px;
  font-weight: bold;
  padding: 10px 15px;
  background-color: lightgreen;
}

.btn-green:hover {
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.games-card {
  background-color: white;
  box-shadow: 0 0 5px rgb(230,230,230);
  border-radius: 33px;
  border: 1px solid rgb(230,230,230);
  width: 560px;
  height: 115px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.active, .games-card:hover {
  background-color: #f8f0e3;
}

.moreGameData {
  background-color: white;
  box-shadow: 0 0 5px rgb(230,230,230);
  border-radius: 33px;
  border: 1px solid rgb(230,230,230);
  width: 560px;
  height: 115px;
  display: none;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  height: 90px;
  width: 90px;
  display: inline-block;
  box-shadow: 0 0 5px rgb(230,230,230);
  border-radius: 50%;
  border: 1px solid rgb(230,230,230);
}


.container > .cards > .games-card > img {
  width: 199px;
  object-fit: cover;
  border-radius: 4px;
  margin: 33px;
}

.container > .cards > .games-card > h2 {
  font-size: 15px;
}

.container > .cards > .games-card > p {
  color: black;
  font-size: 12px;
}

.footer {
  background-color: #2c2b2b;
  text-align: center;
  padding: 60px;
  margin-top: 50px;
}

.footer a {
  font-size: 50px;
  color:  #1EDD88;
}

#Hawks {
  background-image: url("images/hawks-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Celtics {
  background-image: url("images/celtics-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}
#Nets {
  background-image: url("images/nets-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Hornets {
  background-image: url("images/hornets-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Bulls {
  background-image: url("images/bulls-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Cavaliers {
  background-image: url("images/cavaliers-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Mavericks {
  background-image: url("images/mavericks-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Nuggets {
  background-image: url("images/nuggets-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Pistons {
  background-image: url("images/pistons-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Warriors {
  background-image: url("images/warriors-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Rockets {
  background-image: url("images/rockets-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Pacers {
  background-image: url("images/pacers-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Clippers {
  background-image: url("images/clippers-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Lakers {
  background-image: url("images/lakers-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Grizzlies {
  background-image: url("images/grizzilies-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
  background-size: 80px;
}

#Heat {
  background-image: url("images/heat-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Bucks {
  background-image: url("images/bucks-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Timberwolves {
  background-image: url("images/timberwolves-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Pelicans {
  background-image: url("images/pelicans-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Knicks {
  background-image: url("images/knicks-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Thunder {
  background-image: url("images/thunder-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Magic {
  background-image: url("images/magic-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#sixers {
  background-image: url("images/76ers-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Suns {
  background-image: url("images/suns-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#TrailBlazers {
  background-image: url("images/trailblazers-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Kings {
  background-image: url("images/kings-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
  background-size: 80px;
}

#Spurs {
  background-image: url("images/spurs-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Raptors {
  background-image: url("images/raptors-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Jazz {
  background-image: url("images/jazz-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}

#Wizards {
  background-image: url("images/wizards-logo.gif");
  background-position: 50%,10%;
  background-repeat: no-repeat;
    background-size: 80px;
}
